

@font-face {
    font-family: "Judson-Bold";
    src: url("../Fuentes/Judson-Bold.ttf") format("truetype");
}
body {
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

#header-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 140px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white; 
    z-index: 1000;
}

#header-image1 {
    padding: 15px;
    width: auto;
    height: 120px;
    object-fit: cover;
    margin: 0px;
}

#header-image2 {
    width: auto;
    height: 140px;
    object-fit: cover;
    margin: 0px;
}

#header-text {
    font-family: "Judson-Bold", cursive, sans-serif;
    background-color: rgba(213, 159, 0, 1);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: black;
    font-weight: bold;
}

.center {
    text-align: center;
}

#sub-menu-container {
    display: flex;
    gap: 20px;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
}

#sub-menu-container a {
    height: 30px;
    color: white;
    text-decoration: none;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    white-space: pre-wrap;
    font-weight: bold;
}

#sub-menu-container a:hover {
    background-color:  #00264e;
}

#sub-menu-container a:nth-child(odd) {
    background-color:  #00264e;
}

#sub-menu-container a:nth-child(even) {
    background-color:  #00264e;
}

#image-container {
    position: relative;
    object-fit: cover;
    width: auto;
    height: 200px;
    overflow: hidden;
    margin: 0; /* Ajuste del margen aquí */
}

#image-slider {
    display: flex;
    transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.image {
    flex: 0 0 auto;
    width: 100vw;
    height: 200px;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.image:nth-child(1) {
    opacity: 1;
}

#indicators-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 6px;
    cursor: pointer;
}

.indicator.active {
    background-color: #35353a;
}

.arrow-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.arrow {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 100%;
    margin: 0 16px; /* Ajuste del margen aquí */
    cursor: pointer;
    font-size: 16px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#Texto-descriptivo {
    background-color: #ffffff;
    max-width: 900px;
    margin: 0 auto;
    border-radius: 15px;
    color: white;
    text-align: justify;
    padding: 20px;
    column-count: 2;  /* Agrega esta línea para dividir en dos columnas */
    column-gap: 20px; 
    justify-content: center;
    align-items: center;
}

#Texto-descriptivo {
    
    background-color: #f0f0f0;
    max-width: 1550px;
    margin: 0 auto;
    border-radius: 0px;
    color: white;
    text-align: justify;
    padding: 0px;
    display: flex;
    justify-content: space-between; /* Distribuir el espacio entre los elementos */
}

#Texto-izquierda {
    border-radius: 8px;
    flex: 2; /* Ocupar todo el espacio disponible */
    margin: 10px;
    border: 10px solid #ffffff;
    color: black;
    background-color: #ffffff;
    min-width: 30%;
}

#Texto-centro img{
    flex: 2; /* Ocupar todo el espacio disponible */
    margin: 10px;
    border: 10px solid #ffffff;
    color: black;
    background-color: #ffffff;
    max-width: 90%;
}

#Texto-derecha {
    border-radius: 8px;
    flex: 2; /* Ocupar todo el espacio disponible */
    background-color: #00264e;
    border: 5px solid #00264e;
    margin: 10px;
    margin-left: 20px; /* Agrega un espacio entre las dos secciones */
    overflow-y: auto; /* Agrega barra de desplazamiento vertical si es necesario */
    max-height: 400px; /* Define la altura máxima deseada */
    min-width: 30%;
}

#Texto-derecha li {
    margin-bottom: 10px; /* Espacio entre elementos de la lista */
    line-height: 1.5; /* Ajusta el espacio vertical entre líneas */
    padding-right: 15px; /* Ajusta el espacio antes del punto */
}
