
@font-face {
    font-family: "Judson-Bold";
    src: url("../Fuentes/Judson-Bold.ttf") format("truetype");
}

body {
    font-size: 1.2vw;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*----Se usan en todas las secciones que se mencionan-----*/
#header-container, #header-text , #sub-menu-container, #sub-menu-container a, .arrow  {
    align-items: center;
    justify-content: center;
}
/*------------------------------------------------Menu de opciones general------------------------------------------------*/
#header-container {
    position: fixed;
    top: 0; left: 0;
    height: 10vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    z-index: 1; 
}

/*---Tienen en comun las imágenes de UADY e INTEL---*/
#header-image1, #header-image2 {
    width: auto;
    object-fit: cover;
}

#header-image1 {
    padding: 2vw;
    height: 8vw;
}

#header-image2 {
    height: 10vw;
}

#sub-menu-container {
    height: 5vw;
    display: flex;
    gap: 2.5vw;
    margin-right: 2.5vw;
}

#sub-menu-container a {
    height: 0.4vw;
    color: white;
    text-decoration: none;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    border-radius: 1.5vw;
    white-space: pre-wrap;
    font-weight: bold;
}

#sub-menu-container a:hover, #sub-menu-container a:nth-child(odd), #sub-menu-container a:nth-child(even) {
    background-color:  #00264e;
}
/*----------------------------------------------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------Carrusel de imagenes---------------------------------------------------------*/
#image-container {
    position: relative;
    object-fit: cover;
    width: auto; height: auto;
    overflow: hidden;
    margin: 0; /* Ajuste del margen aquí */
}

#image-slider {
    display: flex;
    transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.image {
    flex: auto; height: auto;
    width: 100vw;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.image:nth-child(1) {
    opacity: 1;
}

#indicators-container {
    position: absolute;
    bottom: .2vw;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.indicator {
    width: 1vw; height: 1vw;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 1vw;
    cursor: pointer;
}

.indicator.active {
    background-color: #35353a;
}

.arrow-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.arrow-container img {
    width: 2vw;
    height: auto;
}

.arrow {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 100%;
    margin: 0 1vw; /* Ajuste del margen aquí */
    cursor: pointer;
    display: flex;
    color: white;
}
/*------------------------------------------------------------------------------------------------------------------------------*/

#header-text {
    font-family: "Judson-Bold", cursive, sans-serif;
    background-color: rgba(213, 159, 0, 1);
    height: 5vw;
    display: flex;
    font-size: 2.5vw;
}
/*-----------------------------------------Descripción, imagen y noticias------------------------------------------------------*/
#Titulos{
    text-align: center;
}

#Texto-descriptivo {
    column-count: 3;
    column-gap: 2.5vw; 
    max-width: 90vw;
    margin: auto;
    border-radius: 1.5vw;
    color: white;
    text-align: justify;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribuir el espacio entre los elementos */
}

#Texto-izquierda {
    border-radius: 1vw;
    padding: 0 1.5vw;
    color: black;
    background-color: #ffffff;
    width: 35vw;
    align-self: stretch;
}

#Texto-centro img {
    width: 25vw;
}

#Texto-derecha {
    padding: 0 1.5vw 0 0;
    border-radius: 1vw;
    background-color: #00264e;
    border: .5vw solid #00264e;
    overflow-y: auto; /* Agrega barra de desplazamiento vertical si es necesario */
    max-height: 25vw; /* Define la altura máxima deseada */
    width: 30vw;
    align-self: stretch;
}

#Texto-derecha li {
    line-height: 1.5; /* Ajusta el espacio vertical entre líneas */
    padding-right: none; /* Ajusta el espacio antes del punto */
}

#titulo-noticias {
    background-color: #00264e; /* Color de fondo para resaltar el título */
    position: sticky; /* Hace que el título se quede pegado al desplazarse */
    top: 0; /* Posiciona el título en la parte superior del contenedor */
    padding: 0.5vw;
    text-align: center;
}
/*------------------------------------------------------------------------------------------------------------------------------*/

/*-----------------------------------------------Video y descripción------------------------------------------------------------*/
.Texto-Video {
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: space-between;
    width: 90vw;
    text-align: justify;
    background-color: white;
    color: black;
    font-size: 1.2vw;
    margin: 0 auto;
    padding: 1vw;
    border-radius: 1vw;
}

.header-Actividad {
    font-family: "Judson-Bold", cursive, sans-serif;
    color: white;
    background-color: #00264e;
    height: auto;
    width: 75vw;
    display: flex;
    font-size: 2.5vw;
    margin: auto;
    border-radius: 1vw;
    padding: 0.5vw;
    text-align: center;
    justify-content: center;
}
/*--------------------------Una columna--------------------------------*/
#videoPersonalizado2 {
    margin: auto;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 1vw 16vw;
    border-bottom-right-radius: 1vw;
    border-bottom-left-radius: 1vw;
}

/*--------------------------Dos columnas--------------------------------*/
.column {
    width: 30vw;
    padding: 1vw, 2vw;
}

.video-container {
    text-align: center;
    width: 40%;
    padding: 1vw, 2vw;
    margin: auto;
}

#videoPersonalizado1 {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

#ImageGruop img {
    width: 55vw;
    height: 100%;
}

/*-------------------------Tres columnas----------------------------------*/

.column3 {
    width: 25vw;
    padding: 1vw;
}

.ImagenActividad3 img {
    width: 20vw;
}

.pdf-content3 {
    margin: 0;
    width: 40vw;
}

/*----------------------------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------Líneas de investigación----------------------------------------------------*/
.header-Proyecto {
    font-family: "Judson-Bold", cursive, sans-serif;
    color: white;
    background-color: #00264e;
    height: auto;
    width: 75vw;
    display: flex;
    font-size: 2.5vw;
    margin: auto;
    border-radius: 1vw;
    padding: 0.5vw;
    text-align: center;
    justify-content: center;
}

.Texto-Foto {
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: space-between;
    width: 87vw;
    text-align: justify;
    background-color: white;
    color: black;
    font-size: 1.2vw;
    margin: 0 auto;
    padding: 1.5vw;
    border-radius: 1vw;
}

.Image-Linea img {
    width: 35vw;
    height: 100%;
}

.Texto-Linea {
    width: 50vw;
    padding: 2vw;
}

#Bottom-FPGA{
    background-color: black;
    color: white;
    border-radius: 1vw;
    max-width: 25vw;
    text-align: center;
    margin: auto;
    padding: 1vw;
    font-size: 1.5vw;
}
/*----------------------------------------------------------------------------------------------------------------------------*/


/*-------------------------------------------------Grupo de trabajo-----------------------------------------------------------*/
#contenedor-personas-GrupoTrabajo {
    padding: 2vw;
    max-width: 66vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: center; /* Centra los elementos horizontalmente */
    background-color: white;
    border-radius: 1vw;
}

.persona-GrupoTrabajo {
    width: 17vw;
    padding: 1vw;
    background-color: rgba(213, 159, 0, 1);
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    border-radius: 1vw;
}

.persona-GrupoTrabajo:hover {
    transform: scale(1.05);
}

.persona-GrupoTrabajo img {
    width: 100%;
    height: auto;
    border-radius: .5vw;
}

.persona-GrupoTrabajo p {
    margin-top: 1vw;
    text-align: center;
    font-weight: bold;
}
  
#header-text-GrupoTrabajo {
    max-width: 70vw;
    color: white;
    margin: auto;
    border-radius: 1.5vw;
    font-family: "Judson-Bold", cursive, sans-serif;
    background-color: #00264e;
    height: 5vw;
    display: flex;
    font-size: 2.5vw;
    align-items: center;
    justify-content: center;
    min-width: 70vw;
}
/*----------------------------------------------------------------------------------------------------------------------------*/


/*--------------------------------------------------Publicaciones-------------------------------------------------------------*/
#Publicaciones, #Capitulos {
    border: 0.05vw solid #ccc; /* Borde de 1 píxel de color gris claro */
    padding: 0.5vw; /* Margen interno de 10 píxeles */
    margin-bottom: 1vw; /* Margen inferior de 20 píxeles para separar los bloques */
}

li {
    margin-bottom: .5vw; /* Ajusta el valor según el espacio que desees entre elementos */
  }

#contenidoLista {
    text-align: justify;
}

#Publicaciones-Capitulos{
    max-width: 70vw;
    margin: auto;
    text-align: justify;
    background-color: whitesmoke;
    padding: 1.5vw;
    list-style-type: none;
    text-decoration: none;
}

/*----------------------------------------------------Contacto----------------------------------------------------------------*/
#Plantilla-Contacto{
    max-width: 70vw;
    background-color: white;
    text-align: center;
    align-items: center;
    margin: auto;
}

#Texto-Contacto{
    max-width: 42vw;
    text-align: justify;
    margin: auto;
    color: black;
    padding: 5vw;
}

#ubicacion {
    border: 0;
    width: 40vw;
    height: 27.5vw;
    margin: auto;
    align-items: center;
    justify-content: center;

}
/*----------------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------Pie de página-------------------------------------------------------------*/
footer {
    display: flex;
    background-color: #00264e;
    color: rgba(213, 159, 0, 1);
    text-decoration: none;
    margin-top: auto;
  }
  
.enlace {
    flex-grow: 1;
    padding: 1.5vw;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    color: rgba(213, 159, 0, 1);
}

.enlace:hover{
    background-color: black;
}

  /*----------------------------------------------------------------------------------------------------------------------------*/